* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
}

@font-face {
    font-family: 'odin-font';
    src: url('fonts/Norse-Bold.otf');
}

.flex-container {
    display: flex;
    height: 100vh;
}

.flex-container .left-side {
    position: relative;
    background-image: url("images/image.avif");
    background-size: cover;
    height: 100%;
    flex: 2;

}

.flex-container .right-side {
    background-color: #F9FAFB;
    padding-top: 40px;
    height: 100%;
    flex: 5;
}

.logo-container {
    position: absolute;
    top: 100px;
    background-color: rgba(0, 0, 0, 50%);
    height: 20%;
    width: 100%;
    align-content: center;

    /* padding: 10px ; */
}

.logo-container-content {
    height: 100%;
    display: flex;
    /* width: 100%; */
    /* margin: 10px 20px 10px 0px; */
    align-items: center;
    padding-left: 20px;
    vertical-align: middle;



}

.logo-text {
    /* font-size: 3rem;  */
    /* width: 60%; */
    /* height: 70%; */
    font-size: 10vh;
    color: white;
    /* vertical-align: middle; */

    font-family: odin-font;
}

img {
    /* height: 90px; */
    height: 100%;
    vertical-align: middle;
    overflow: hidden;

}

.text {
    padding-left: 40px;
    /* padding-top: 20px; */
    font-weight: 700;
}

fieldset {
    border: #F9FAFB;
}

form {
    background-color: white;
    display: flex;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;

}


label {
    display: block;
}

/* input {
    border: 2px solid black;
} */

/* input:valid {
    border: 3px solid green
} */


input {
    border: 1.5px solid rgb(165, 163, 163);
    outline: none;
    border-radius: 3px;
    padding: 3px 3px 2px 3px;
}

input:focus {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
    border: 1.5px solid rgb(21, 44, 215);

}

/* input:focus:valid {} */

input:not(:focus):invalid:not(:placeholder-shown) {
    border: 1.5px solid rgb(230, 50, 34);
}

input:not(:focus):valid:not(:placeholder-shown) {
    border: 1.5px solid rgb(21, 215, 31);

}



.field-combo {
    float: left;
}

.row {
    padding: 30px;
    width: 100%;
}

.grid-container {
    display: grid;

}

button {
    color: white;
    font-weight: 600;
    width: 190px;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    border: 0px solid #F9FAFB;
    background-color: #596D48;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.356);
    margin: 30px 0px 0px 30px;
}

button+p {
    margin: 20px 0px 0px 30px;
    font-weight: 500;
}

button+p>span {
    color: #596D48;
    font-weight: 600;
}